@charset "UTF-8";
@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Open_Sans/OpenSans-Regular.eot");
  src: url("../fonts/Open_Sans/OpenSans-Regular.eot?#iefix") format("embedded-opentype"); }

@font-face {
  font-family: "Open Sans";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/Open_Sans/OpenSans-Bold.eot");
  src: url("../fonts/Open_Sans/OpenSans-Bold.eot?#iefix") format("embedded-opentype"); }

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Open_Sans/OpenSans-Light.eot");
  src: url("../fonts/Open_Sans/OpenSans-Light.eot?#iefix") format("embedded-opentype"); }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px; }

.button {
  width: 212px;
  height: 50px;
  line-height: 50px;
  border: 1px solid #88c56f;
  display: block;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 50px; }
  .button--white {
    border-color: #fff; }

.button--big {
  background-color: #88c56f;
  width: 370px;
  height: 60px;
  line-height: 60px;
  color: #0f3102;
  font-size: 18px;
  font-weight: 600;
  display: block;
  margin: 60px auto; }

.section {
  width: 100%;
  display: block; }

.content-wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 10px 0;
  height: auto; }

.chapter {
  text-align: center;
  padding-bottom: 74px;
  padding-top: 100px; }

.chapter__line {
  background-color: #88c56f;
  width: 60px;
  height: 4px;
  border-radius: 2px;
  margin: 28px auto; }

.chapter__head {
  text-transform: uppercase;
  color: #000;
  font-size: 30px;
  font-weight: 600; }
  .chapter__head--white {
    color: #fff; }

.question {
  width: 100%;
  background-color: #333;
  background-image: url(../img/fon2.png);
  background-size: cover;
  padding: 80px 100px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.question__text {
  width: 351px;
  padding-bottom: 10px; }

.question__head {
  color: #fff; }

.question__info {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 26px;
  margin-top: 41px; }

.callback__input {
  width: 230px;
  height: 10px;
  background-color: #fff;
  border-radius: 2px;
  border: none;
  padding: 20px;
  margin-bottom: 10px; }
  .callback__input--right {
    margin-left: 30px; }

.callback__button {
  display: block;
  background-color: transparent;
  margin-top: 40px;
  margin-right: 0;
  margin-left: auto;
  height: 40px;
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
  font-size: 16px;
  line-height: 40px;
  width: 120px; }
  .callback__button:hover {
    cursor: pointer; }

.callback__block {
  display: inline-block;
  margin-bottom: 10px; }
  .callback__block--right {
    vertical-align: top; }

.callback__textarea {
  height: 73px; }

@media screen and (max-width: 796px) {
  .callback__input--right {
    margin-left: 0; } }

@media screen and (max-width: 492px) {
  .question {
    padding: 80px 50px 50px; } }

.about__wrapper {
  height: auto;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 100px; }

.about__block {
  width: 270px;
  margin: 10px auto; }
  .about__block--big {
    width: 569px;
    -ms-flex-negative: 2;
        flex-shrink: 2; }

.about__accent-text {
  color: #88c56f;
  text-transform: uppercase;
  font-size: 22px;
  padding-top: 30px;
  line-height: 1.4; }

.about__light-text {
  font-style: italic;
  font-size: 14px;
  font-weight: 300;
  color: #999;
  padding-bottom: 30px;
  line-height: 1.6; }

.about__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.6; }

.about__link {
  display: block;
  color: #4db3e7;
  font-size: 14px;
  font-weight: 300;
  text-decoration: underline;
  padding-top: 35px; }

.download-img {
  padding-right: 15px;
  vertical-align: middle; }

.girl {
  background-image: url(../img/girl_right.png);
  background-repeat: no-repeat;
  background-position: bottom right; }

@media screen and (max-width: 1831px) {
  .girl {
    background: #fff; } }

.architect {
  display: block;
  background-image: url(../img/bg3.png);
  background-size: cover; }

.architect__wrapper {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 90px; }

.architect__text {
  max-width: 568px;
  color: #fff;
  font-size: 14px;
  line-height: 1.6;
  font-weight: 300;
  padding-bottom: 10px;
  margin: 0 auto; }

.architect__button {
  margin-top: 66px; }

.architect__image {
  margin: 0 auto;
  max-width: 570px;
  min-width: 340px;
  height: auto; }

/* Портфолио */
.portfolio__wrapper {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.portfolio__form-wrapper {
  background-color: #88c56f;
  color: #fff;
  width: 770px;
  min-width: 360px;
  height: 100%;
  min-height: 440px;
  margin: 0 auto;
  padding: 50px 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.portfolio__name {
  padding-top: 40px;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 25px; }

.portfolio__info {
  font-size: 14px;
  font-weight: 300; }

.portfolio__light {
  color: #999; }

.portfolio__item {
  margin: 0 auto;
  margin-bottom: 60px; }

.portfolio__button {
  margin-top: 2px; }

.portfolio__form-text {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 351px; }

@media screen and (max-width: 419px) {
  .portfolio__form-wrapper {
    padding: 50px 30px; } }

.header {
  width: 100%;
  height: 980px;
  background-color: #222;
  background-image: url(../img/bg1.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff; }

.header__menu {
  max-width: 1150px;
  margin: 0 auto;
  padding: 60px 10px 0; }

.menu__top {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.menu__slogan {
  display: inline-block;
  font-size: 12px;
  padding-left: 30px;
  width: 148px; }

.menu__showroom {
  display: inline-block;
  width: 152px;
  border-bottom: 1px solid #88c56f;
  padding-bottom: 10px; }

.menu__link-image {
  width: 20px;
  height: 20px;
  vertical-align: middle; }

.menu__link {
  color: #fff;
  text-decoration: underline;
  font-size: 14px;
  display: inline-block;
  padding-left: 20px; }

.menu__phone {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 28px;
  margin-left: 55px; }

.menu__bottom {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 26px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.menu__nav {
  height: 50px;
  line-height: 50px; }

.menu__nav-item {
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  padding-right: 14px;
  text-decoration: none; }

@media screen and (max-width: 978px) {
  .menu__hide {
    display: none; } }

@media screen and (max-width: 810px) {
  .menu__phone {
    font-size: 20px;
    margin-left: 30px; } }

@media screen and (max-width: 660px) {
  .menu__hide-small {
    display: none; } }

@media screen and (max-width: 404px) {
  .button--normal {
    width: 170px; }
  .menu__logo {
    width: 140px; } }

.header__content {
  max-width: 1102px;
  margin: 0 auto;
  padding: 160px 10px 0;
  text-align: center; }

.header__text {
  font-size: 24px;
  font-weight: 600;
  line-height: 26px; }

.header__big-text {
  font-size: 44px;
  font-weight: 600;
  line-height: 56px;
  display: block;
  margin-top: 68px;
  text-transform: uppercase; }

.header__scroll {
  margin-top: 110px; }

@media screen and (max-width: 600px) {
  .header__big-text {
    font-size: 26px;
    line-height: 34px; } }

@media screen and (max-width: 384px) {
  .button--big {
    width: 300px; }
  .header__big-text {
    font-size: 24px; } }

.catalog__wrapper, .catalog__wrapper--inner {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.catalog__item {
  width: 270px;
  padding-bottom: 67px;
  margin: 0 auto; }
  .catalog__item--big {
    width: 570px; }

.catalog__wrapper--inner {
  width: 565px;
  margin: 0 auto; }

.catalog__name {
  font-size: 20px;
  font-weight: 600;
  padding-top: 26px;
  padding-bottom: 17px; }

.catalog__description {
  font-size: 14px;
  font-weight: 300; }

@media screen and (max-width: 566px) {
  .catalog__image, .catalog__item--big {
    width: 270px; } }
