$accent: #88c56f;
@import '_fonts';


*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}


.button{
    width: 212px;
    height: 50px;
    line-height: 50px;
    border: 1px solid $accent;
    display: block;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 50px;
}
.button--big{
    background-color: $accent;
    width: 370px;
    height: 60px;
    line-height: 60px;
    color: #0f3102;
    font-size: 18px;
    font-weight: 600;
    display: block;
    margin: 60px auto;
}


.section{
    width: 100%;
    display: block;
}
.content-wrapper{
    max-width: 1150px;
    margin: 0 auto;
    padding: 100px 10px 0;
}
.chapter{
    text-align: center;
    padding-bottom: 74px;
}
.chapter__line{
    background-color: $accent;
    width: 60px;
    height: 4px;
    border-radius: 2px;
    margin: 28px auto;
}
.chapter__head{
    text-transform: uppercase;
    color: #000;
    font-size: 30px;
    font-weight: 600;
}
.catalog__wrapper, .catalog__wrapper--inner {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.catalog__item{
    width: 270px;
    padding-bottom: 67px;
    margin: 0 auto;
    &--big{
        width: 570px;
    }
}

.catalog__wrapper--inner{
    width: 565px;
    padding-left: 5px;
    margin: 0 auto;
}
.catalog__name{
    font-size: 20px;
    font-weight: 600;
    padding-top: 26px;
    padding-bottom: 17px;
}
.catalog__description{
    font-size: 14px;
    font-weight: 300;
}
@media screen and (max-width: 566px) {
    .catalog__image, .catalog__item--big{
        width: 270px;
    }
    .catalog__wrapper--inner{
        padding-left: 0;
    }
}





@import 'blocks/header__menu';